.brand {
  text-decoration: none;
  color: white;
  margin-left: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}

.spacer {
  flex: 1 1 auto;
}

button {
  margin-left: 8px;
}

mat-icon {
  margin-right: 4px;
}

.nav-paragraph {
  font-size: 18px;
  color: rgb(248, 246, 246);
}

